<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rabbits.learn.dao.UserMapper" >
    <resultMap id="UserMap" type="com.rabbits.learn.entity.User" >
        <id property="id"  column="ID" jdbcType="INTEGER" />
        <result property="userName"  column="USER_NAME" jdbcType="VARCHAR" />
        <result property="userPsw" column="USER_PSW" jdbcType="VARCHAR" />
        <result property="idCard" column="ID_CARD" jdbcType="VARCHAR" />
        <result property="phone" column="PHONE" jdbcType="VARCHAR" />
        <result property="address" column="ADDRESS" jdbcType="VARCHAR" />
        <result property="state" column="STATE" jdbcType="INTEGER" />
    </resultMap>

    <insert id="insert" parameterType="com.rabbits.learn.entity.User" >
        insert into sys_user (ID, USER_NAME, USER_PSW, ID_CARD, PHONE, ADDRESS, STATE)
        values (#{id,jdbcType=INTEGER},
            #{userName,jdbcType=VARCHAR}, #{userPsw,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR},
            #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER})
    </insert>

    <select id="selectAll" resultMap="UserMap" >
        SELECT
            t.ID,
            t.USER_NAME,
            t.USER_PSW,
            t.ID_CARD,
            t.PHONE,
            t.ADDRESS,
            t.state
        FROM sys_user t
    </select>

    <select id="selectByPrimaryKey" resultMap="UserMap" parameterType="java.lang.Integer" >
        SELECT
            t.ID,
            t.USER_NAME,
            t.USER_PSW,
            t.ID_CARD,
            t.PHONE,
            t.ADDRESS,
            t.STATE
        FROM sys_user t
        where t.ID = #{id,jdbcType=INTEGER}
    </select>

    <update id="updateByPrimaryKey" parameterType="com.rabbits.learn.entity.User" >
        update sys_user
        set t.USER_NAME = #{userName,jdbcType=VARCHAR},
          t.USER_PSW = #{userPsw,jdbcType=VARCHAR},
          t.ID_CARD = #{idCard,jdbcType=VARCHAR},
          t.PHONE = #{phone,jdbcType=VARCHAR},
          t.ADDRESS = #{address,jdbcType=VARCHAR},
          t.STATE = #{state,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
  </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from sys_user t where t.id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>